.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 28px auto 0;
  padding-left: 48px;
  padding-right: 48px;
}

@media screen and (max-width: 768px) {
  .header {
    padding-right: 3.125vw;
    padding-left: 3.125vw;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin-top: 16px;
    padding-right: 5vw;
    padding-left: 5vw;
  }
}
