.lead__subtitle {
  font-family: 'Inter';
  margin: 32px auto 0;
  max-width: 640px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: clamp(16px, 4vw, 30px);
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 90%;
    margin-top: 16px;
    line-height: 20px;
  }
}
